html {
  width: 100%;
}

#header {
  padding-left: 0px;
  padding-right: 0px;
  /* image from: https://rickandmortypod.com/ */
  text-align: center;
  color: white;
}

#header h1 {
  font-size: 100px;
}

.row {
  margin-bottom: 30px;
}
